<!DOCTYPE html>
<html>
<head>
  <title>Auth0 JSON Web Token (JWT)</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="header-container">
          <button onclick="redirectToDocs()">API-Docs</button>
        </div>
    </header>

  <main>
    <div class="main-container">
      <h2>Auth0 JSON Web Token (JWT)</h2>
      <div class="image-container">
        <img src="/images/auth0-logo.png" alt="Auth0 Logo">
        <img src="/images/1657421703592.png" alt="Image 2">
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-container">
      <p>With <span class="heart-icon">&#10084;</span> by L1cha</p>
    </div>
  </footer>

  <script>
    function redirectToDocs() {
      window.location.href = '/api-docs';
    }
  </script>
</body>
</html>

